In [1]:

mi_dicccionario = {'nombre':'Carolina',
                   'edad': 30,
                    'licencia': True,
                     'deportes':['correr','bicicleta']}
mi_dicccionario

{'nombre': 'Carolina',
 'edad': 30,
 'licencia': True,
 'deportes': ['correr', 'bicicleta']}

In [2]:
mi_dicccionario2 = dict(nombre = 'Carolina',
                        edad = '30',
                        licencia = 'True')
mi_dicccionario2

{'nombre': 'Carolina', 'edad': '30', 'licencia': 'True'}

In [4]:
mi_dicccionario['nombre']

'Carolina'

In [5]:
mi_dicccionario.get('nombre')

'Carolina'

In [6]:
mi_dicccionario.keys()

dict_keys(['nombre', 'edad', 'licencia', 'deportes'])

In [7]:
mi_dicccionario.values()

dict_values(['Carolina', 30, True, ['correr', 'bicicleta']])

In [8]:
mi_dicccionario['edad'] = 30
mi_dicccionario

{'nombre': 'Carolina',
 'edad': 30,
 'licencia': True,
 'deportes': ['correr', 'bicicleta']}

In [10]:
mi_dicccionario['eduacaion'] = 'universidad'
mi_dicccionario

{'nombre': 'Carolina',
 'edad': 30,
 'licencia': True,
 'deportes': ['correr', 'bicicleta'],
 'eduacaion': 'universidad'}

In [11]:
for llave in mi_dicccionario.values():
    print(llave)

Carolina
30
True
['correr', 'bicicleta']
universidad

In [12]:
# Dostipos de bucles for, if
for llave in mi_dicccionario:
    if llave == 'edad':
       print(llave, mi_dicccionario[llave])

edad 30

In [13]:
#se utlizo el comando pop
mi_dicccionario.pop('edad')

30

In [14]:
# Dostipos de bucles for, if
for llave in mi_dicccionario:
    if llave == 'nombre':
       print(llave, mi_dicccionario[llave])

nombre Carolina

In [15]:
# Dostipos de bucles for, if
for llave in mi_dicccionario:
    if llave == 'deportes':
       print(llave, mi_dicccionario[llave])

deportes ['correr', 'bicicleta']

In [16]:
for llave in mi_dicccionario:
    print(mi_dicccionario[llave])

Carolina
True
['correr', 'bicicleta']
universidad

In [17]:
mi_dicccionario

{'nombre': 'Carolina',
 'licencia': True,
 'deportes': ['correr', 'bicicleta'],
 'eduacaion': 'universidad'}

In [18]:
mi_dicccionario2 = dict(nombre1 = 'Carolina',
                    edad = 30,
                    licencia = True,
                    nombre2 = 'Jairo')
mi_dicccionario2

{'nombre1': 'Carolina', 'edad': 30, 'licencia': True, 'nombre2': 'Jairo'}

In [19]:
clase ={'estudiante1':{'nombre':'Carolina','edad':'30'},
        'estudiante2' :{'nombre':'Jairo', 'edad': '33'}}

In [20]:
clase

{'estudiante1': {'nombre': 'Carolina', 'edad': '30'},
 'estudiante2': {'nombre': 'Jairo', 'edad': '33'}}

In [21]:
clase['estudiante1']['nombre']

'Carolina'

In [22]:
clase['estudiante2']['nombre']

'Jairo'

In [23]:
import pandas as pd

In [24]:
#Los corchetes defienen una lista
{'nombres':['Carolina','Jairo','Jefferson'],
 'edades':[30,33,36]}

{'nombres': ['Carolina', 'Jairo', 'Jefferson'], 'edades': [30, 33, 36]}

In [25]:
# Realizar un DataFrame
pd.DataFrame({'nombres':['Carolina','Jairo','Jefferson'],
              'edades':['30','33','36']})

     nombres edades
0   Carolina     30
1      Jairo     33
2  Jefferson     36

In [26]:
#con mi dicccionario
midic = {'nombres':['Carolina','Jairo','Jefferson'],
              'edades':['30','33','36']}
midic

{'nombres': ['Carolina', 'Jairo', 'Jefferson'], 'edades': ['30', '33', '36']}

In [27]:
pd.DataFrame(midic)

     nombres edades
0   Carolina     30
1      Jairo     33
2  Jefferson     36

In [28]:
midic ['educacion'] = {'Diplomado','Posgrado','Universidad'}
midic

{'nombres': ['Carolina', 'Jairo', 'Jefferson'],
 'edades': ['30', '33', '36'],
 'educacion': {'Diplomado', 'Posgrado', 'Universidad'}}

In [29]:
midic

{'nombres': ['Carolina', 'Jairo', 'Jefferson'],
 'edades': ['30', '33', '36'],
 'educacion': {'Diplomado', 'Posgrado', 'Universidad'}}

In [30]:
import numpy as np

In [31]:
# ponen en nulo es np.nan
midic['educacion']= ['Diplomado','Posgrado', np.nan]

In [32]:
mi_df = pd.DataFrame(midic)
mi_df

     nombres edades  educacion
0   Carolina     30  Diplomado
1      Jairo     33   Posgrado
2  Jefferson     36        NaN

In [33]:
# se utlizo el comando insnull typo de datos boleanos nos imprime
mi_df['educacion'].isnull()

0    False
1    False
2     True
Name: educacion, dtype: bool

In [35]:
mi_df['nombres'][1]

'Jairo'

In [36]:
mi_df['nombres'][1:3]

1        Jairo
2    Jefferson
Name: nombres, dtype: object

In [37]:
# comando iloc muestra la tabla
mi_df.iloc[1:3 , 0:2]

     nombres edades
1      Jairo     33
2  Jefferson     36

In [38]:
# columna uno fila dos
mi_df.iloc[1:2]

  nombres edades educacion
1   Jairo     33  Posgrado

In [39]:
#cuando se utliza corchetes y en separacion hay una coma al imprimir muestra en nombre
mi_df.iloc[1,0]

'Jairo'

In [40]:
mi_df.iloc[1:2,0:2]

  nombres edades
1   Jairo     33

In [41]:
mi_df.iloc[1,1:3]

edades             33
educacion    Posgrado
Name: 1, dtype: object

In [42]:
#clase 3-10-2023
#importar datos con pandas-csv
datos = pd.read_csv('https://raw.githubusercontent.com/laboratoriolide/new-dimensions/main/Python/prueba2.csv')
datos

    Nombre  Edad  Peso_kg  Altura_m
0      Ana    33       60      1.60
1   Manuel    38       80      1.82
2  Daniela    29       70      1.54
3     Jose    25      100      1.70
4     Sara    40       95      1.75

In [43]:
# Un array, es un tipo de dato estructurado que permite almacenar un conjunto de datos homogeneo, es decir, 
#todos ellos del mismo tipo y relacionados
#importar datos con numpy con loadtxt sin poner el link solo el nombre del archivo
array = np.loadtxt('prueba.csv',delimiter=',')
array

array([[  11., 1000.,   19.,    8.,  101.,    5.,    6.,    5., 1000.],
       [   9.,   17., 1000.,   13.,  101.,   20.,   15.,  101.,   19.],
       [  14.,    4.,   17.,   13.,    4.,   20.,   19.,    4.,   17.],
       [   8.,    8.,   16.,    9.,  101.,   20.,   12., 1000.,   19.],
       [  13.,   11.,   20., 1000.,   14.,    9.,   12.,   16., 1000.],
       [1000.,    5.,   20.,    5.,   14.,    8.,   11.,   15., 1000.],
       [  19.,   14.,   17.,   12.,  101.,  101.,   19.,   18.,  101.],
       [  13.,  101.,   14.,   13.,    7.,   14.,    4., 1000.,   14.],
       [ 101.,    6.,   17., 1000., 1000.,    3.,   16.,   16.,    8.],
       [  15.,   11.,   16.,   16.,   14.,   17.,   17.,   12.,    3.],
       [  12.,   15.,   16.,    3.,    9.,   12.,   15.,    3.,   20.],
       [  17.,   18.,    4.,    6.,    3.,   14.,   18.,   16.,   17.],
       [1000.,    3.,   11., 1000.,    5.,   20.,   16.,    4.,    8.],
       [  16.,    7.,   13.,   20.,  101., 1000.,    8.,   17., 1000.],
       [   6.,   18.,    8.,   15.,   14.,    4.,    7.,   11., 1000.],
       [1000.,    6.,    7.,   20.,    9.,    9.,    4.,   14.,   13.],
       [  18.,    7.,    7.,   18.,   16., 1000.,    4.,   16.,  101.],
       [  18.,  101.,   13., 1000., 1000.,   11.,   18., 1000.,    9.]])

In [44]:
#Mostrar con un DataFrame la tabla que se creo con array
pd.DataFrame(array)

         0       1       2       3       4       5     6       7       8
0     11.0  1000.0    19.0     8.0   101.0     5.0   6.0     5.0  1000.0
1      9.0    17.0  1000.0    13.0   101.0    20.0  15.0   101.0    19.0
2     14.0     4.0    17.0    13.0     4.0    20.0  19.0     4.0    17.0
3      8.0     8.0    16.0     9.0   101.0    20.0  12.0  1000.0    19.0
4     13.0    11.0    20.0  1000.0    14.0     9.0  12.0    16.0  1000.0
5   1000.0     5.0    20.0     5.0    14.0     8.0  11.0    15.0  1000.0
6     19.0    14.0    17.0    12.0   101.0   101.0  19.0    18.0   101.0
7     13.0   101.0    14.0    13.0     7.0    14.0   4.0  1000.0    14.0
8    101.0     6.0    17.0  1000.0  1000.0     3.0  16.0    16.0     8.0
9     15.0    11.0    16.0    16.0    14.0    17.0  17.0    12.0     3.0
10    12.0    15.0    16.0     3.0     9.0    12.0  15.0     3.0    20.0
11    17.0    18.0     4.0     6.0     3.0    14.0  18.0    16.0    17.0
12  1000.0     3.0    11.0  1000.0     5.0    20.0  16.0     4.0     8.0
13    16.0     7.0    13.0    20.0   101.0  1000.0   8.0    17.0  1000.0
14     6.0    18.0     8.0    15.0    14.0     4.0   7.0    11.0  1000.0
15  1000.0     6.0     7.0    20.0     9.0     9.0   4.0    14.0    13.0
16    18.0     7.0     7.0    18.0    16.0  1000.0   4.0    16.0   101.0
17    18.0   101.0    13.0  1000.0  1000.0    11.0  18.0  1000.0     9.0

In [45]:
#importar los datos con el link y con indice de columnas
datos_pib = pd.read_csv('https://raw.githubusercontent.com/swcarpentry/python-novice-gapminder/main/episodes/data/gapminder_gdp_americas.csv')
                        #,index_col='country'
datos_pib

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
1,Americas,Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
2,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
3,Americas,Canada,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
4,Americas,Chile,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850
5,Americas,Colombia,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,5755.259962,7006.580419
6,Americas,Costa Rica,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,7723.447195,9645.061420
7,Americas,Cuba,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,6340.646683,8948.102923
8,Americas,Dominican Republic,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,4563.808154,6025.374752
9,Americas,Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326
10,Americas,El Salvador,3048.302900,3421.523218,3776.803627,4358.595393,4520.246008,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,5351.568666,5728.353514
11,Americas,Guatemala,2428.237769,2617.155967,2750.364446,3242.531147,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,4858.347495,5186.050003
12,Americas,Haiti,1840.366939,1726.887882,1796.589032,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
13,Americas,Honduras,2194.926204,2220.487682,2291.156835,2538.269358,2529.842345,3203.208066,3121.760794,3023.096699,3081.694603,3160.454906,3099.728660,3548.330846
14,Americas,Jamaica,2898.530881,4756.525781,5246.107524,6124.703451,7433.889293,6650.195573,6068.051350,6351.237495,7404.923685,7121.924704,6994.774861,7320.880262
15,Americas,Mexico,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,10742.440530,11977.574960
16,Americas,Nicaragua,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,2474.548819,2749.320965
17,Americas,Panama,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,7356.031934,9809.185636
18,Americas,Paraguay,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,3783.674243,4172.838464
19,Americas,Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561
20,Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010
21,Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240
22,Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090
23,Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990
24,Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690

In [46]:
# importa archivo csv con pandas - link
datos_pib = pd.read_csv('https://raw.githubusercontent.com/swcarpentry/python-novice-gapminder/main/episodes/data/gapminder_gdp_americas.csv')
datos_pib

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
1,Americas,Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
2,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
3,Americas,Canada,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
4,Americas,Chile,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850
5,Americas,Colombia,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,5755.259962,7006.580419
6,Americas,Costa Rica,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,7723.447195,9645.061420
7,Americas,Cuba,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,6340.646683,8948.102923
8,Americas,Dominican Republic,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,4563.808154,6025.374752
9,Americas,Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326
10,Americas,El Salvador,3048.302900,3421.523218,3776.803627,4358.595393,4520.246008,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,5351.568666,5728.353514
11,Americas,Guatemala,2428.237769,2617.155967,2750.364446,3242.531147,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,4858.347495,5186.050003
12,Americas,Haiti,1840.366939,1726.887882,1796.589032,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
13,Americas,Honduras,2194.926204,2220.487682,2291.156835,2538.269358,2529.842345,3203.208066,3121.760794,3023.096699,3081.694603,3160.454906,3099.728660,3548.330846
14,Americas,Jamaica,2898.530881,4756.525781,5246.107524,6124.703451,7433.889293,6650.195573,6068.051350,6351.237495,7404.923685,7121.924704,6994.774861,7320.880262
15,Americas,Mexico,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,10742.440530,11977.574960
16,Americas,Nicaragua,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,2474.548819,2749.320965
17,Americas,Panama,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,7356.031934,9809.185636
18,Americas,Paraguay,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,3783.674243,4172.838464
19,Americas,Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561
20,Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010
21,Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240
22,Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090
23,Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990
24,Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690

In [47]:
# utilizamos el comando loc para letras o caracteres
datos_pib.loc['Peru':'Venezuela']

Empty DataFrame
Columns: [continent, country, gdpPercap_1952, gdpPercap_1957, gdpPercap_1962, gdpPercap_1967, gdpPercap_1972, gdpPercap_1977, gdpPercap_1982, gdpPercap_1987, gdpPercap_1992, gdpPercap_1997, gdpPercap_2002, gdpPercap_2007]
Index: []

In [48]:
# iloc permite trabajar con numeros
datos_pib.iloc[19:25]

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
19,Americas,Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561
20,Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010
21,Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240
22,Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090
23,Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990
24,Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690

In [49]:
datos_pib.loc['Peru':'Venezuela','continent']

Series([], Name: continent, dtype: object)

In [50]:
datos_pib.columns

Index(['continent', 'country', 'gdpPercap_1952', 'gdpPercap_1957',
       'gdpPercap_1962', 'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997',
       'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [51]:
for col in datos_pib.columns:
    print(col)

continent
country
gdpPercap_1952
gdpPercap_1957
gdpPercap_1962
gdpPercap_1967
gdpPercap_1972
gdpPercap_1977
gdpPercap_1982
gdpPercap_1987
gdpPercap_1992
gdpPercap_1997
gdpPercap_2002
gdpPercap_2007

In [52]:
# trabajar con bucles for para mostrar entradas y if
for col in datos_pib.columns:
        if '1967' in col:
         print(datos_pib[col])

0      8052.953021
1      2586.886053
2      3429.864357
3     16076.588030
4      5106.654313
5      2678.729839
6      4161.727834
7      5690.268015
8      1653.723003
9      4579.074215
10     4358.595393
11     3242.531147
12     1452.057666
13     2538.269358
14     6124.703451
15     5754.733883
16     4643.393534
17     4421.009084
18     2299.376311
19     5788.093330
20     6929.277714
21     5621.368472
22    19530.365570
23     5444.619620
24     9541.474188
Name: gdpPercap_1967, dtype: float64

In [74]:
datos_pib.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,9287.677107,11003.031625
std,3001.727522,3312.381083,3421.740569,4160.885560,4754.404329,5355.602518,5530.490471,6665.039509,7047.089191,7874.225145,8895.817785,9713.209302
min,1397.717137,1544.402995,1662.137359,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
25%,2428.237769,2487.365989,2750.364446,3242.531147,4031.408271,4756.763836,4258.503604,4140.442097,4439.450840,4684.313807,4858.347495,5728.353514
50%,3048.302900,3780.546651,4086.114078,4643.393534,5305.445256,6281.290855,6434.501797,6360.943444,6618.743050,7113.692252,6994.774861,8948.102923
75%,3939.978789,4756.525781,5180.755910,5788.093330,6809.406690,7674.929108,8997.897412,7807.095818,8137.004775,9767.297530,8797.640716,11977.574960
max,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090

In [53]:
datos_pib

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
1,Americas,Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
2,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
3,Americas,Canada,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
4,Americas,Chile,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850
5,Americas,Colombia,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,5755.259962,7006.580419
6,Americas,Costa Rica,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,7723.447195,9645.061420
7,Americas,Cuba,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,6340.646683,8948.102923
8,Americas,Dominican Republic,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,4563.808154,6025.374752
9,Americas,Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326
10,Americas,El Salvador,3048.302900,3421.523218,3776.803627,4358.595393,4520.246008,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,5351.568666,5728.353514
11,Americas,Guatemala,2428.237769,2617.155967,2750.364446,3242.531147,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,4858.347495,5186.050003
12,Americas,Haiti,1840.366939,1726.887882,1796.589032,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
13,Americas,Honduras,2194.926204,2220.487682,2291.156835,2538.269358,2529.842345,3203.208066,3121.760794,3023.096699,3081.694603,3160.454906,3099.728660,3548.330846
14,Americas,Jamaica,2898.530881,4756.525781,5246.107524,6124.703451,7433.889293,6650.195573,6068.051350,6351.237495,7404.923685,7121.924704,6994.774861,7320.880262
15,Americas,Mexico,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,10742.440530,11977.574960
16,Americas,Nicaragua,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,2474.548819,2749.320965
17,Americas,Panama,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,7356.031934,9809.185636
18,Americas,Paraguay,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,3783.674243,4172.838464
19,Americas,Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561
20,Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010
21,Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240
22,Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090
23,Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990
24,Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690

In [67]:
# head muestra el encabezado de las primeras filas,Devuelve las n primeras filas del DataFrame df
datos_pib.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Brazil,Americas,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
Canada,Americas,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
Chile,Americas,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850

In [54]:
# comando  imprime los últimos N números o colas (tails) de una entrada. 
#Por lo general, muestra o imprime los últimos 10 números del archivo
datos_pib.tail()

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
20,Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.70901
21,Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.50924
22,Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.65309
23,Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.46299
24,Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.80569

In [55]:
datos_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   continent       25 non-null     object
 1   country         25 non-null     object
 2   gdpPercap_1952  25 non-null     float64
 3   gdpPercap_1957  25 non-null     float64
 4   gdpPercap_1962  25 non-null     float64
 5   gdpPercap_1967  25 non-null     float64
 6   gdpPercap_1972  25 non-null     float64
 7   gdpPercap_1977  25 non-null     float64
 8   gdpPercap_1982  25 non-null     float64
 9   gdpPercap_1987  25 non-null     float64
 10  gdpPercap_1992  25 non-null     float64
 11  gdpPercap_1997  25 non-null     float64
 12  gdpPercap_2002  25 non-null     float64
 13  gdpPercap_2007  25 non-null     float64
dtypes: float64(12), object(2)
memory usage: 2.9+ KB

In [56]:
datos_pib['country']

0               Argentina
1                 Bolivia
2                  Brazil
3                  Canada
4                   Chile
5                Colombia
6              Costa Rica
7                    Cuba
8      Dominican Republic
9                 Ecuador
10            El Salvador
11              Guatemala
12                  Haiti
13               Honduras
14                Jamaica
15                 Mexico
16              Nicaragua
17                 Panama
18               Paraguay
19                   Peru
20            Puerto Rico
21    Trinidad and Tobago
22          United States
23                Uruguay
24              Venezuela
Name: country, dtype: object

In [57]:
datos_pib[datos_pib['country'] == 'Ecuador']

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
9,Americas,Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.99471,6679.62326,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326

In [58]:
datos_pib

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
1,Americas,Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
2,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
3,Americas,Canada,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
4,Americas,Chile,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850
5,Americas,Colombia,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,5755.259962,7006.580419
6,Americas,Costa Rica,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,7723.447195,9645.061420
7,Americas,Cuba,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,6340.646683,8948.102923
8,Americas,Dominican Republic,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,4563.808154,6025.374752
9,Americas,Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326
10,Americas,El Salvador,3048.302900,3421.523218,3776.803627,4358.595393,4520.246008,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,5351.568666,5728.353514
11,Americas,Guatemala,2428.237769,2617.155967,2750.364446,3242.531147,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,4858.347495,5186.050003
12,Americas,Haiti,1840.366939,1726.887882,1796.589032,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
13,Americas,Honduras,2194.926204,2220.487682,2291.156835,2538.269358,2529.842345,3203.208066,3121.760794,3023.096699,3081.694603,3160.454906,3099.728660,3548.330846
14,Americas,Jamaica,2898.530881,4756.525781,5246.107524,6124.703451,7433.889293,6650.195573,6068.051350,6351.237495,7404.923685,7121.924704,6994.774861,7320.880262
15,Americas,Mexico,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,10742.440530,11977.574960
16,Americas,Nicaragua,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,2474.548819,2749.320965
17,Americas,Panama,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,7356.031934,9809.185636
18,Americas,Paraguay,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,3783.674243,4172.838464
19,Americas,Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561
20,Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010
21,Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240
22,Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090
23,Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990
24,Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690

In [59]:
datos_pib[5:20]

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
5,Americas,Colombia,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,5755.259962,7006.580419
6,Americas,Costa Rica,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,7723.447195,9645.061420
7,Americas,Cuba,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,6340.646683,8948.102923
8,Americas,Dominican Republic,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,4563.808154,6025.374752
9,Americas,Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326
10,Americas,El Salvador,3048.302900,3421.523218,3776.803627,4358.595393,4520.246008,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,5351.568666,5728.353514
11,Americas,Guatemala,2428.237769,2617.155967,2750.364446,3242.531147,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,4858.347495,5186.050003
12,Americas,Haiti,1840.366939,1726.887882,1796.589032,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
13,Americas,Honduras,2194.926204,2220.487682,2291.156835,2538.269358,2529.842345,3203.208066,3121.760794,3023.096699,3081.694603,3160.454906,3099.728660,3548.330846
14,Americas,Jamaica,2898.530881,4756.525781,5246.107524,6124.703451,7433.889293,6650.195573,6068.051350,6351.237495,7404.923685,7121.924704,6994.774861,7320.880262
15,Americas,Mexico,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,10742.440530,11977.574960
16,Americas,Nicaragua,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,2474.548819,2749.320965
17,Americas,Panama,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,7356.031934,9809.185636
18,Americas,Paraguay,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,3783.674243,4172.838464
19,Americas,Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561

In [60]:
datos_pib[datos_pib['country'] == 'Argentina']

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.02674,8997.897412,9139.671389,9308.41871,10967.28195,8797.640716,12779.37964

In [61]:
datos_pib[0:10]

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
1,Americas,Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
2,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
3,Americas,Canada,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
4,Americas,Chile,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850
5,Americas,Colombia,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,5755.259962,7006.580419
6,Americas,Costa Rica,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,7723.447195,9645.061420
7,Americas,Cuba,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,6340.646683,8948.102923
8,Americas,Dominican Republic,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,4563.808154,6025.374752
9,Americas,Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326

In [120]:
# CLASE 4-10-2023
import glob
import os

In [111]:
os.getcwd()

'c:\\Users\\IMPORTSOLUTION\\Desktop\\DEBERES_PYTHON\\PRACTICA EN CLASE'

In [119]:
glob.glob('python-novice-gapminder-data/data/*.csv')

[]

In [ ]:
glob('*/*/*all.csv')

In [ ]:
#archivos_pib = glob('*/*/*gdp*.csv')
#archivos_pib

In [72]:
mi_lista = []
#for archivo in archivos_pib:
    #datos = pd.read_csv(archivo)
    #mi_lista.append(datos)

In [ ]:
#pib_mundo = pd.concat(mi_lista)
#pib_mundo.head(n=3)